/* *** commons *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* *** header *** */
header {
 height: 50px;   
}

/* *** debug *** */
.debug header {
    background-color: red;
}

.debug main {
    height: calc(100vh - 120px);
    background-color: lightgreen;
}

.debug footer {
    height: 70px;
    background-color: lightblue;
}